<!DOCTYPE html>
<html class="ui-mobile">
	<head>
		<title>Web</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" href="../jquery/jquery.mobile-1.4.3.min.css" />
		<script src="../jquery/jquery.js"></script>
		<script src="../jquery/jquery.mobile-1.4.3.min.js"></script>
	</head>
	<body>

		<!-- 第一页 -->
		<div data-role="page" id="page1">
			<div data-role="header">
				<h1>物联网平台</h1>
			</div><!--头部-->
			<div role="main" class="ui-content">
				<p id="info">长江大学信工卓越</p>
				<table class="list" border="1">
                    <tr>
                        <th>湿度</th>
                        <th id="wet1">我会显示湿度数值</th>
                    </tr>
                    <tr>
                        <th>温度</th>
                        <th id="temp1">我会显示温度数值</th>
                    </tr>
                    <tr>
                        <th>时间</th>
                        <th id="time1">我会显示时间数值</th>
                    </tr>
                </table>
                {{listMune}}
			</div>
		</div>
	</body>
</html>