<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>物联网平台</title>
    </head>
	<body>
		<!-- 第一页 -->
		<div data-role="page" id="page1">
            <p id="info">长江大学信工卓越</p>
            <table class="list" border="1">
                <tr>
                    <th>湿度</th>
                    <th id="wet"><%=wet%>%</th>
                </tr>
                <tr>
                    <th>温度</th>
                    <th id="temp"><%=temp%>℃</th>
                </tr>
                <tr>
                    <th>时间</th>
                    <th id="time"><%=time%></th>
                </tr>
            </table>
		</div>
	</body>
</html>